<launch>
 <!-- URDF: dein Wrapper mit Sonde + _sc -->
 <param name="robot_description"
        command="$(find xacro)/xacro --inorder '$(find panda_sonde_wrapper_description)/urdf/panda_with_sonde.urdf.xacro'"/>

 <!-- SRDF: bei dir Xacro (weil arm.xacro inkludiert wird) -->
 <param name="robot_description_semantic"
        command="$(find xacro)/xacro --inorder '$(find panda_moveit_config)/config/panda.srdf.xacro'"/>

 <!-- MoveIt-Parameter -->
 <rosparam command="load" file="$(find panda_moveit_config)/config/kinematics.yaml"/>
 <rosparam command="load" file="$(find panda_moveit_config)/config/joint_limits.yaml"/>

 <!-- Pflicht: Veröffentlich die Link-TFs -->
 <node name="robot_state_publisher"
       pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>

 <!-- Optional: world->base für RViz -->
 <node pkg="tf2_ros" type="static_transform_publisher" name="world_to_base"
       args="0 0 0 0 0 0 world panda_link0"/>
</launch>