<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
  <xacro:include filename="$(find franka_description)/robots/panda_arm.xacro"/>
  <xacro:include filename="$(find franka_description)/robots/hand.xacro"/>

  <!-- for simulation -->
  <xacro:include filename="$(find franka_description)/robots/panda.gazebo.xacro"/>
  <xacro:include filename="panda.transmission.xacro"/>
  <!-- end for simulation -->

  <!-- ersetze Panda HAnd durch unsere Sonden-Halterung -->
  <!-- <xacro:panda_arm />-->
  <!-- <xacro:hand ns="panda" rpy="0 0 ${-pi/4}" connected_to="panda_link8"/>-->

  <xacro:panda_arm />
  <!-- Sensorhalterung anfang -->
  <link name="sensor_mount"> 
    <visual>
      <geometry>
        <mesh filename="file:///home/hannah_kunze/catkin_ws/src/franka_ros/franka_description/meshes/visual/halterung_panda_gamma_sonde.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="file:///home/hannah_kunze/catkin_ws/src/franka_ros/franka_description/meshes/visual/halterung_panda_gamma_sonde.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.1"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
  </link>

  <joint name="sensor_mount_joint" type="fixed">
    <parent link="panda_link8"/>
    <child link="sensor_mount"/>
    <origin xyz="0.0 0.0 0.0" rpy="${pi/2} 0 ${-pi/4}"/>
  </joint>
  <!-- Sensorhalterung ende -->


  <!-- for simulation -->
  <xacro:arg name="robot_name" default="panda"/>
  <xacro:panda_gazebo robot_name="$(arg robot_name)" />
  <!-- <xacro:panda_transmission robot_name="$(arg robot_name)" load_hand="true" />-->
  <xacro:panda_transmission robot_name="$(arg robot_name)" load_hand="false" />
  <!-- end for simulation -->
</robot>